@media only screen and (min-width: 1440px) {
  body {
    padding: 72px 165px;
  }

  header {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 39.9px;
    margin: 0 auto;
  }

  .logo {
    height: 28px;
  }

  .hamburger {
    display: none;
  }

  .menu-links {
    display: flex;
    gap: 40px;
    list-style-type: none;
    color: #5e607a;
  }

  .menu-links a {
    font-size: 15px;
    font-family: "Inter", serif;
    font-weight: 400;
    color: #5e607a;
    text-decoration: none;
  }

  main {
    align-items: center;
    justify-content: center;
    width: 1110px;
    margin: 0 auto;
    padding-top: 72.1px;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
    grid-column-gap: 30px;
    width: 0px;
  }

  .latest-article {
    width: 730px;
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 28px;
    column-width: 350px;
  }
  .article-img {
    height: 300px;
    grid-column: 1 / span 3;
  }

  h1 {
    font-family: "Inter", serif;
    font-weight: 800;
    font-size: 56px;
    height: 182px;
    text-wrap: wrap;
    line-height: 56px;
    grid-column: 1/2;
  }

  .latest-article-wrap {
    grid-column: 2/3;
    width: 350px;
  }
  .latest-article p {
    font-family: "Inter", serif;
    font-size: 15px;
    font-weight: 400;
    height: 104px;
    line-height: 26px;
    color: #5e607a;
  }
  br {
    display: none;
  }
  .read-more-button {
    margin-top: 29px;
    padding: 12px 25px 11px 31px;
    background-color: #f15d51;
    color: #fffdfa;
    font-size: 14px;
    font-family: "Inter", serif;
    font-weight: 700;
    justify-content: left;
    text-align: center;
    line-height: 24px;
    letter-spacing: 4.38px;
    width: 185px;
    text-decoration: none;
  }

  .read-more-button:hover {
    background-color: #f1a29b;
  }

  .news {
    height: 511px;
    background-color: black;
    margin-top: 0px;
    padding: 24px 21px 24px 21px;
    width: 350px;
  }

  h2 {
    color: #e9aa52;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  .news-paragraph {
    font-family: "Inter", serif;
    margin-top: 35px;
    margin-bottom: 0px;
  }

  h4 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #fffdfa;
  }

  .news-paragraph p {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #c5c6ce;
    padding-top: 8px;
    text-align: justify;
  }

  hr {
    margin: 29px 0px 31px 0px;
    border: 1px solid #5e607a;
  }

  section {
    align-items: center;
    justify-content: center;
    padding: 0px 16px 0px 16px;
    margin: 0 auto;
  }

  .top-articles-wrapper {
    margin-top: 64px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    width: 1110px;
  }

  .top-articles-wrapper div {
    height: 129px;
    width: 350px;
  }

  h3 {
    color: #c5c6ce;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 32px;
  }

  h5 {
    color: #00001a;
    margin-top: 12px;
    font-size: 18px;
    font-family: "Inter", serif;
    font-weight: 800;
  }

  .top-articles-wrapper p {
    color: #5e607a;
    margin-top: 9px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
  }

  .top-article-2-wrapper {
    margin: 0 auto;
  }

  .top-link {
    margin-left: 24px;
    height: 129px;
    width: 219px;
    text-decoration: none;
  }
}
